<div class="container major-body largepadding">
	<h1>JM Freight Services Ltd</h1>

	<h3>International Freight forwarding, Cargo handling, Transport management, Customs clearing, Warehousing</h3><br>

	<p>JM Freight Services Ltd: Your leading logistics service partner that gives you a guaranteed personalized service that keeps you moving in a constantly challenging field of logistics services no matter what branch of trade or industry you specialize in. Our efficiency and commitment will always serve you well. We thus aim at being a world class logistics service provider.</p><br>

	<%= link_to "Our Services", services_path, class: "btn btn-primary" %>
</div>