<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<!-- PS: Don't forget about this area when adding or removing carousel items -->
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<%= image_tag "carousel/2.jpg", class: "first-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-left -->
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/3.jpg", class: "second-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption">
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<%= image_tag "carousel/1.jpg", class: "third-slide", alt: "Slider Image" %>
			<div class="container">
				<div class="carousel-caption"> <!-- text-right -->
					<div class="carousel-headings">Uganda Swimming Federation</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container-fluid news">
	<div class="card text-center">
		<div class="card-header">
			Latest News
		</div>
		<div class="card-body">
			<div class="card-title">Results Released</div>
			<p>The latest results for the CANA Zone 3 Championships are now avaialable</p>
			<p>Our very own Jack Katto emerged the winner of the 3 dive challenge at 1min 2sec record breaking time</p>
			<a href="#" class="btn btn-primary">Download Results</a>
		</div>
	</div>
</div>

<!-- Major body with lefter and righter columns -->
<div class="container-fluid major-body">
	<div class="row">
		<div class="col-sm-8 lefter">
			<h1>Latest Events</h1>
			<hr>

			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
		<div class="col-sm-4 borders righter">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</div>
	</div>

	<div class="row photo-gallery">
		<h1>Photo Gallery</h1>
		<hr>
		
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>

	<div class="row video-gallery">
		<h1>Video Gallery</h1>
		<hr>
		
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>

	<div class="row major-sponsors">
		<h1>Major Sponsors</h1>
		<hr>
		
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>

	<div class="row partners">
		<h1>Partners</h1>
		<hr>
		
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
	</div>
</div>