<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h3><%= @email.fullname %></h3>
	<h5><%= @email.email %></h5>
	<p>
		<%= @email.message %>
	</p>
</body>
</html>